# Site URL (Vercel veya kendi domainin)
NEXT_PUBLIC_SITE_URL=https://borcankebap.vercel.app

# Admin kullanıcı bilgileri
NEXT_PUBLIC_ADMIN_USER=admin
NEXT_PUBLIC_ADMIN_PASS=Borcan2025

# Sipariş özellikleri açık olsun
NEXT_PUBLIC_ENABLE_ORDERING=1
